body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(117, 201, 173); /* ← tu sme nastavili aquamarin */
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* src/App.css */
.App {
  text-align: center;
  min-height: 100vh;
  background-color: lightgreen; /* tu nastavíš farbu */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
