body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgb(117, 201, 173); /* ← tu sme nastavili aquamarin */
}

#root {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
